
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.container .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    

}

.menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.button{
    background-color:#30B868;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #ffffff;
    border-radius: 4px;
    gap: 6px;
}

#banner{
    background: url(../images/hero-bg.png), linear-gradient(#627382);
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .banner-content{
    max-width: 1360px;
    text-align: center;
}


.early-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}



.early-btn button{
    color: #30B868;
    border: none;
    padding: 8px 12px ;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    
}

.banner-content-text h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
    margin-bottom: 16px;
}

.banner-content-text .color-green{
    color: #30B868;
}

.banner-content-text p{
    color: #ffffff;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 32px;
}

.see-button{
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #ffffff;
    border-radius: 4px;
    gap: 6px;
}

.banner-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#notes{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #62738215;

}

#notes .notes-container{
    max-width: 1360px;
    text-align: center;
    margin-top: 120px;
}

.notes-heading h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.notes-heading p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
}

.notes-container .notes-box{
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 1360px;
    gap: 24px;

}


.notes-card .icons{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
}

.notes-box .notes-card{
    max-width: 322px;
    padding: 69px 24px;
    background-color: #ffffff;
    gap: 16px;
    border-radius: 8px;

}

.notes-card h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    
}

.notes-card p{
    font-size: 16px;
    
}

#second-brain{
    display: flex;
    justify-content: center;
    padding: 120px 0;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;

    
}

.second-brain-container{
    display: flex;
    align-items: center;
    gap: 60px;
}

.second-brain-container .second-brain-title{
    width: 700px;
}

.second-brain-container .second-brain-title h4{
    font-size: 16px;
    text-transform: uppercase;
    color: #30B868;
    margin-bottom: 16px;
}

.second-brain-container .second-brain-title h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.second-brain-container .second-brain-title p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.second-brain-list{
    margin-top: 40px;
}

.second-brain-list .icon-and-text{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

.second-brain-container .left-image img{
    width: 600px;
    border-radius: 12px;
}

.second-brain-list .icon-and-text p{
    font-size: 16px;
    color: #000000;
}

#early-access{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1360px;
    width: 85%;
    border-radius: 12px;
    background-color: #F7F6F2;
    margin: 0 auto;
    padding: 80px 40px;
}

#early-access .early-access-heading h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: capitalize;
}

#early-access .early-access-heading p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

#early-access .early-access-footer{
    margin-top: 24px;
}

.early-access-footer p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}


footer{
    background-color: #001931;
    justify-content: center;
    margin: 0 auto;
    margin-top: 120px;
}

footer .footer-container .footer-logo-content{
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;

}

.footer-social p{
    color: #ffffff;
    margin-bottom: 16px;
    width: 220px;
    display: flex;
    align-items: center;
}


.footer-social a{
    color: #ffffff;
}

.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text p{
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    margin-bottom: 30px;
    margin-top: 20px;

}

footer hr{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;

}